<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Resposta</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="container center">
        <h1>
            <%= mensagem %>
        </h1>
        <a href="/">Home</a>
    </div>
</body>

</html>